#

*/archive/
.project
.settings
.classpath
.sass-cache/
.cache/

# macOS files #
###############

__MACOSX
.DS_Store

*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Packages #
############

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Binaries #
############

bin/
*.exe
lib/
*.so
obj/
*.o

# Build #
#########

/tmp/
/build/
/.buildpath

# Text #
########

*.txt
*.csv

# Editors #
###########

*.sublime-*
.idea/
.vscode
