#

*/archive/
.project
.settings
.classpath
.sass-cache/

# macOS files #
###############

__MACOSX
.DS_Store

*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Packages #
############

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Binaries #
############

library
main
wsum
diver
stats
hill
focal
life
seism
view
flow
urban
urban_mc
urban_ga
water
olive
file_translate
gen_data
libmap.so

# Build #
#########

*.o
/tmp/
/build/
/.buildpath

# Text #
########

*.txt
*.csv

# Editors #
###########

*.sublime-*
